<mat-card>
  <mat-card-title>Login</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Username" formControlName="userName">
      <mat-error *ngIf="form.get('userName')?.invalid">You must enter a value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="form.get('password')?.invalid">You must enter a value</mat-error>
    </mat-form-field>
    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div class="button">
      <button type="submit" mat-button>Login</button>
    </div>

  </form>
</mat-card>
